html {
  box-sizing: border-box;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1px;
  line-height: 26px;
  color: #59057b;
  font-weight: 200;
  background-image: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
img {
  max-width: 100%;
  display: block;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 30px;
}
.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  margin-top: 150px;
  box-shadow: 8px 8px 6px #888888;
  background-color: #c8d9eb;
  margin-bottom: 7px;
}
.form-control {
  padding: 12px 15px;
  width: 100%;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  border-color: #888888;
  background: #f0d9da;
  transition: all 0.15s;
}

.btn {
  padding: 7px 20px;
  border-radius: 30px;
  text-align: center;
  color: #000;
  border-color: #367591;
  background-color: #f0d9da;
  transition: all 0.3s;
  font-size: 16px;
  margin-left: 15px;
  box-shadow: 4px 4px 4px #888888;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.btn:hover {
  background-color: #083d56;
}
h1 {
  color: #878787;
  line-height: 28px;
  font-size: 24px;
  font-weight: 100px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(135, 135, 135);
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #202124;
  font-size: 64px;
  font-stretch: 100;
  font-weight: 400;
  line-height: 1;
}
.units {
  color: #202124;
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  opacity: 0.8;
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-max {
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
